.todo {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  flex: 1;
  padding: 5px 20px;

  &:nth-child(odd) {
    background-color: #caf0f8;
  }

  &-checkbox {
    cursor: pointer;
    margin: 5px 0;
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & > * {
      cursor: pointer;
    }
  }

  input[type='checkbox'] {
    margin-right: 10px;
  }

  label {
    flex: 1;
  }

  &-completed {
    text-decoration: line-through;
  }

  &-edit {
    cursor: pointer;
    margin-right: 5px;
    align-self: flex-start;
    background: #fff;
    color: #40916c;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #40916c;
    border-radius: 5px;
    min-width: 50px;
    padding: 2px 1px;
    margin-right: 10px;
    box-shadow: 0 3px #52b788;

    &:active {
      box-shadow: 0 1px #52b788;
      transform: translateY(2px);
    }

    &:hover {
      background: #40916c;
      color: #fff;
    }
  }

  &-delete {
    cursor: pointer;
    background: #bd1f36;
    border: none;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    color: #fff;

    &:hover {
      background: #e01e37;
    }
  }
}
