.todo {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;

  &-checkbox {
    cursor: pointer;
    margin: 5px 0;
    flex: 1;

    & > * {
      cursor: pointer;
    }
  }

  input[type='checkbox'] {
    margin-right: 10px;
  }

  label {
    flex: 1;
  }

  &-completed {
    text-decoration: line-through;
  }

  &-edit {
    margin-right: 5px;
  }

  &-delete {
    cursor: pointer;
    background: #bd1f36;
    border: none;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    color: #fff;

    &:hover {
      background: #e01e37;
    }
  }
}
